# --- Zephyr Build System ---
build/
**/build/
**/build1/
*.hex
*.bin
*.elf
*.map

# --- Outils & Configuration locale ---
.west/
.vscode/
*.log

# --- Fichiers temporaires système ---
.DS_Store
Thumbs.db